<div class="cashier-content-area" *ngIf="show">
  <div class="cashier-salereturns-area bg-white custom-shadow rounded-lg -mt-3" style="width: 101%;">
    <!-- <form autocomplete="off" #invoiceForm="ngForm" (ngSubmit)="cleardata()"> -->
    <div class="p-2 mb-3" style="background-color: #6F4EF6;">
      <div class="text-[20px] text-heading font-semibold ">
        <strong><span style="color: white; font-size: 20px;">Change Password</span></strong>
      </div>
    </div>


    <div class="cashier-table-header-search-area">
      <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">

        <div class="lg:col-span-4 md:col-span-4 sm:col-span-12">
          <div class="cashier-select-field">
            <h5 class="text-[15px] text-heading font-semibold">
              Old Password
            </h5>
            <div class="cashier-input-field-style" style="display: flex">
              <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden"></mat-label>
                <input type="password" placeholder="" matInput name="currentpassword"
                  [(ngModel)]="changePasswordDto.currentPassword" id="CurrentPassword" required maxlength="32"
                  validateEqual="CurrentPasswor" reverse="true"
                  pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$" />



              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="lg:col-span-4 md:col-span-4 sm:col-span-12">
          <div class="cashier-select-field">
            <h5 class="text-[15px] text-heading font-semibold">
              New Password
            </h5>
            <div class="cashier-input-field-style" style="display: flex">
              <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden"></mat-label>
                <input type="password" placeholder="" matInput name="newPassword"
                  [(ngModel)]="changePasswordDto.newPassword" maxlength="32"
                  pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$" />



              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="lg:col-span-4 md:col-span-4 sm:col-span-12">
          <div class="cashier-select-field">
            <h5 class="text-[15px] text-heading font-semibold">
              Confirm New Password
            </h5>
            <div class="cashier-input-field-style" style="display: flex">
              <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                <mat-label class="hidden"></mat-label>
                <input type="password" placeholder="" matInput name="newPassword" [(ngModel)]="ConfirmNewPassword"
                  maxlength="32" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)[0-9a-zA-Z!@#$%^&*()]*$"
                  (ngModelChange)="confirmPassword($event)" />

              </mat-form-field>
            </div>
            <p style="margin-top: -30px;" class="text-red-500 text-sm " *ngIf="isActive">
              Passwords do not match.
            </p>
          </div>
        </div>

      </div>
      <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
        <div class="text-right maxSm:text-left">

          <div class="default-light-theme mb-7 space-x-2">


            <button type="submit" mat-raised-button color="primary" (click)="changePassword()"
              class="uppercase">Update</button>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>