.required {
  color: red;
}

.nextButtonSection {
  text-align: right !important;
  float: right !important;
  display: flex;
}
.backButtonSection {
  text-align: left;
  float: left;
}
.nextBtn,
.nextBtn:focus,
.nextBtn:hover {
  background-color: #34a740;
  margin-left: 8px;
}
.btnCancel {
  background-color: #e91e63;
}
.tblHeaderColor {
  color: #3f51b5;
}
