.cashier-salereturns-table-referenceJ {
    min-width: 304px;
    width: 27%;
}

.cashier-salereturns-table-customerJ {
    min-width: 139px;
    width: 18%;
 
}
.cashier-salereturns-table-dateJ  {
 
  
    min-width: 255px;
    width: 4%;

}