
.mat-form-field-infix {
  display: contents !important;
}

.datePickerMargin{
  width: 332px !important;
}
input#contact-input{
  margin-left: 20px !important;
  padding-left: 10px !important;
}
input#email-input{
  margin-left: 20px !important;
  padding-left: 10px !important;
}

.tableWidth {
  width: 1461px;
} 

.addAddButtonMarginTop{
  margin-top:36px
}
.addressTableFixWidth{
  width: 1475px !important;

}
.mb-11 {
  margin-bottom: 0.75pc;
}

.starColorRed{
  color: red;
}