<div [@routerTransition] class="model-input-size">
  <mat-dialog-content>
    <div class="popup-body">
      <div class="cashier-popup-inner">
        <div class="cashier-popup-header relative mb-11">
          <!-- <div class="cashier-popup-header-title">
            <h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
            </h2>
          </div> -->
          <div class="cashier-popup-header-close absolute -top-4 right-0">
            <mat-dialog-actions>
              <div class="default-light-theme">
                <a href="javascript:void(0)" mat-dialog-close>
                  <mat-icon>clear</mat-icon>
                </a>
              </div>
            </mat-dialog-actions>
          </div>
        </div>
        <form autocomplete="off" #sendMail="ngForm" (ngSubmit)="save()">
          <div class="grid grid-cols-12 gap-x-7 maxSm:gap-x-0">
            <div class="col-span-12">
              <div class="cashier-select-field">
                <h5 class="text-[15px] mb-4 text-heading font-semibold">
                  Customer Email<span class="starColorRed">*</span>
                </h5>
                <div class="lg:col-span-3 md:col-span-4 sm:col-span-12">
                  <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden"> </mat-label>
                    <input type="type" maxlength="30" matInput name="name" id="name" required [(ngModel)]="email"/>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="md:col-span-6 sm:col-span-12">
              <div class="cashier-popup-btn default-light-theme pt-1.5">
                <button type="submit" mat-raised-button color="primary" [disabled]="!sendMail.valid"
                  [ngClass]="{ 'btn-disabled': !sendMail.valid}">
                  Send
                </button>
              </div>
            </div>
            <div class="md:col-span-6 sm:col-span-12">
              <div class="cashier-popup-btn default-light-theme pt-1.5">
                <button type="button" mat-raised-button color="accent" (click)="hideDialog()">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-dialog-content>
</div>