<div class="cashier-content-area px-7">
    <div class="cashier-salereturns-area bg-white p-7 custom-shadow rounded-lg">
        <!-- <form autocomplete="off" #invoiceForm="ngForm" (ngSubmit)="cleardata()"> -->
        <span class="close" routerLink="/app/all-sales/sales-transation">X</span>
        <div class="cashier-table-header-search-area">
            <div class="grid grid-cols-12 gap-x-5 pb-0.5">
                <div class="lg:col-span-2 md:col-span-3 sm:col-span-12">
                    <div class="cashier-select-field">
                        <h5 class="text-[15px] text-heading font-semibold">
                            Voucher Date <span class="starColorRed">*</span>
                        </h5>
                        <div class="cashier-input-field-style" style="display: flex">
                            <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden"></mat-label>
                                <input type="text" placeholder="MM-DD-YYYY" [(ngModel)]="invoiceDueDateAlt" matInput
                                    name="dueDate" maxlength="50" [matDatepicker]="releasedAtPicker2"
                                    (focus)="releasedAtPicker2.open()" required />
                                <mat-datepicker-toggle matSuffix [for]="releasedAtPicker2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #releasedAtPicker2>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Account TABLE -->
            <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
                <div class="lg:col-span-12 md:col-span-12 sm:col-span-12">
                    <div class="grid grid-cols-12 gap-x-5 pb-0.5">
                        <div class="lg:col-span-12 md:col-span-12 sm:col-span-12">
                            <table class="table table-responsive table-bordered">
                                <thead class="table-header-group">
                                    <tr>
                                        <th scope="col" class="tbl-header align-center">#</th>
                                        <th scope="col" class="tbl-header w-30">Chart Of Accounts</th>
                                        <th scope="col" class="tbl-header w-9" class="tbl-header align-right">Debits
                                        </th>
                                        <th scope="col" class="tbl-header w-9" class="tbl-header align-right">Credits
                                        </th>
                                        <th scope="col" class="tbl-header w-40">Description</th>
                                        <th scope="col" class="tbl-header w-30">Customer</th>
                                        <th scope="col" class="tbl-header align-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of accountItems; let i = index">
                                        <th scope="row" class="align-center">{{ i + 1 }}</th>
                                        <td>
                                            <div class="custom-dropdown flex content-center">
                                                <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                    class="w-full invoiceTblCell" [floatLabel]="'always'">
                                                    <mat-label class="hidden"></mat-label>
                                                    <mat-select placeholder="Select Account" name="selectAccount"
                                                        [(ngModel)]="item.account"
                                                        (ngModelChange)="addNewRow(item, i, $event)">
                                                        <mat-option *ngFor="let item of DepositToList"
                                                            [value]="item.id">{{item.accountDescription}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                class="w-full invoiceTblCell">
                                                <input matInput placeholder=" " type="number" min="0" name="debit"
                                                    maxlength="5" [disabled]="!item.isDebitEnabled"
                                                    (input)="onDebitChange(item,i)"
                                                    (ngModelChange)="changeTotalAmonut('amount',$event, i)"
                                                    [(ngModel)]="item.debit" style="text-align: right;">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                class="w-full invoiceTblCell">
                                                <input matInput placeholder=" " type="number" min="0" name="credit"
                                                    maxlength="5" [disabled]="!item.isCreditEnabled"
                                                    (input)="onCreditChange(item,i)"
                                                    (ngModelChange)="changeTotalAmonut('amount',$event, i)"
                                                    [(ngModel)]="item.credit" style="text-align: right;">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                class="w-full invoiceTblCell">
                                                <input matInput placeholder=" " name="descriptions"
                                                    [(ngModel)]="item.description" maxlength="300">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <div class="custom-dropdown flex content-center">
                                                <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                    class="w-full invoiceTblCell" [floatLabel]="'always'">
                                                    <mat-label class="hidden"></mat-label>
                                                    <mat-select placeholder="Select Customer" name="selectCustomer"
                                                        [(ngModel)]="item.name">
                                                        <mat-option *ngFor="let data of customers"
                                                            [value]="data.id">{{data.name}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </td>
                                        <!-- <td class="align-center" *ngIf="i !== accountItems.length - 1">
                                            <mat-icon class="cursor-pointer"
                                                (click)="accountRemoveRow(item, i)">delete</mat-icon>
                                        </td> -->
                                        <td *ngIf="i % 2 !== 0 && i !== accountItems.length - 1">
                                            <mat-icon class="cursor-pointer"
                                                (click)="accountRemoveRow(item, i)">delete</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NOTES -->
            <div class="grid grid-cols-12 gap-x-5 pb-0.5">
                <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
                    <div class="cashier-select-field">
                        <h5 class="text-[15px] text-heading font-semibold">
                            Notes
                        </h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden"></mat-label>
                                <textarea matInput name="receivedPayments.note" id="note" [(ngModel)]="voucherDto.note"
                                    maxlength="1000"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
                    <div class="text-right maxSm:text-left float-right">
                        <div class="default-light-theme mb-7 space-x-2">
                            <button type="button" mat-raised-button color="warn" routerLink="/app/all-sales/sales-transation"
                                class="uppercase">Cancel</button>
                            <button type="button" mat-raised-button (click)="save()" color="primary"
                                [disabled]="isActive" class="uppercase">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->
</div>

<app-journal-voucher-list #JournalVoucherListComponent *ngIf="showJournalVoucherList"></app-journal-voucher-list>