<div class="cashier-content-area px-7">
    <div class="cashier-salereturns-area bg-white p-7 custom-shadow rounded-lg pt-5 mb-5">
        <span class="close" routerLink="/app/home">X</span>
        <h4 class="text-[20px] font-bold text-heading mb-9">Invoice Detail <span style="font-size: 15px;color: gray;">( {{Invoice.invoiceNo}} )</span></h4>

        <div class="cashier-table-header-search-area">
            <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
                <div class="lg:col-span-3 md:col-span-4 sm:col-span-12">
                    <h5 class="text-[15px] text-heading font-semibold">
                        Customer <span class="starColorRed">*</span>
                    </h5>
                    <div class="cashier-input-field-style" style="display: flex">
                        <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden"></mat-label>
                            <mat-select placeholder="Select Customer" name="customerType" [disabled]="isDisabled"
                                [(ngModel)]="Invoice.refCustomerID" [(value)]="Customer.name">
                                <mat-option *ngFor="let item of customers" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="lg:col-span-3 md:col-span-4 sm:col-span-12">
                    <div class="cashier-select-field" style="margin-top: 3px;">
                        <h5 class="text-[15px] text-heading font-semibold">
                            Email
                        </h5>
                        <div class="cashier-input-field-style" style="display: flex">
                            <span>{{email}}</span>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2 md:col-span-2 sm:col-span-12">
                    <section class="example-section">
                        <mat-checkbox class="example-margin" [disabled]="isDisabled" [(ngModel)]="Invoice.isSendLater">Send Email</mat-checkbox>
                    </section>
                </div>
                <!-- BALANCE -->
                <div class="lg:col-span-4 md:col-span-6 sm:col-span-12">
                    <div class="cashier-table-header-search-action-btn text-right maxSm:text-left">
                        <h5 class="text-lg text-heading font-bold uppercase">
                            balance due
                        </h5>
                        <h5 class="text-4xl text-heading font-bold uppercase">
                            <span *ngIf="totalSalePrice === 0; else price">{{ totalSalePrice }}</span>
                            <ng-template #price>${{ totalSalePrice | number: '1.2-2' }}</ng-template>
                        </h5>
                    </div>
                </div>
            </div>
            <!-- INVOICE FIELDS -->
            <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
                <div class="lg:col-span-2 md:col-span-3 sm:col-span-12">
                    <h5 class="text-[15px] text-heading font-semibold">
                        Terms <span class="starColorRed">*</span>
                    </h5>
                    <div class="cashier-input-field-style" style="display: flex">
                        <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                            <mat-label class="hidden"></mat-label>
                            <mat-select placeholder="Select Term" [disabled]="isDisabled" [(ngModel)]="Invoice.refTermID" name="termType"
                                (selectionChange)="calculateDate()">
                                <mat-option [value]="">Select Term</mat-option>
                                <mat-option [value]="0">Currently</mat-option>
                                <mat-option [value]="30">30 Days</mat-option>
                                <mat-option [value]="60">60 Days</mat-option>
                                <mat-option [value]="90">90 Days</mat-option>
                                <mat-option [value]="120">120 Days</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="lg:col-span-2 md:col-span-3 sm:col-span-12">
                    <div class="cashier-select-field">
                        <h5 class="text-[15px] text-heading font-semibold">
                            Invoice Date
                        </h5>
                        <div class="cashier-input-field-style" style="display: flex">
                            <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden"></mat-label>
                                <input type="text" placeholder="MM-DD-YYYY" [disabled]="isDisabled" [(ngModel)]="invoiceDateAlt" matInput
                                    name="invoiceDate" maxlength="50" [matDatepicker]="releasedAtPicker"
                                    (focus)="releasedAtPicker.open()" />
                                <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #releasedAtPicker>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2 md:col-span-3 sm:col-span-12">
                    <div class="cashier-select-field">
                        <h5 class="text-[15px] text-heading font-semibold">
                            Due Date
                        </h5>
                        <div class="cashier-input-field-style" style="display: flex">
                            <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden"></mat-label>
                                <input type="text" placeholder="MM-DD-YYYY" [disabled]="isDisabled" [(ngModel)]="invoiceDueDateAlt" matInput
                                    name="dueDate" maxlength="50" [matDatepicker]="releasedAtPicker2"
                                    (focus)="releasedAtPicker2.open()" />
                                <mat-datepicker-toggle matSuffix [for]="releasedAtPicker2">
                                </mat-datepicker-toggle>
                                <mat-datepicker #releasedAtPicker2>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABLE -->
        <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
            <div class="lg:col-span-12 md:col-span-12 sm:col-span-12">
                <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
                    <div class="lg:col-span-12 md:col-span-12 sm:col-span-12">
                        <table class="table table-responsive table-bordered" disabled>
                            <thead class="table-header-group">
                                <tr>
                                    <th scope="col" class="tbl-header align-center">#</th>
                                    <th scope="col" class="tbl-header" style="width: 18rem;">Product / Service</th>
                                    <th scope="col" class="tbl-header" style="width: 30rem">Description</th>
                                    <th scope="col" class="tbl-header" class="tbl-header align-right">Qty</th>
                                    <th scope="col" class="tbl-header align-right">Rate</th>
                                    <th scope="col" class="tbl-header align-right">Sale Tax</th>
                                    <th scope="col" class="tbl-header align-right">Discount %</th>
                                    <th scope="col" class="tbl-header align-right">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items; let i = index">
                                    <th scope="row" class="align-center">{{ i + 1 }}</th>
                                    <td>
                                        <div class="custom-dropdown flex content-center">
                                            <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                                class="w-full invoiceTblCell" [floatLabel]="'always'">
                                                <mat-label class="hidden"></mat-label>
                                                <mat-select placeholder="Select Product" name="selectProduct"
                                                    [(ngModel)]="item.name" [disabled]="isDisabled"
                                                    (ngModelChange)="addRowOnProductSelect(item, i, $event)">
                                                    <mat-option *ngFor="let data of productServiceDto"
                                                        [value]="data.id">{{data.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " name="descriptions" [disabled]="isDisabled"
                                                (ngModelChange)="changeValues('description',$event, i)"
                                                [(ngModel)]="item.description">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " type="number" name="quantity"
                                                (ngModelChange)="changeValues('quantity',$event, i)" min="0"
                                                [disabled]="isDisabled" [(ngModel)]="item.quantity" style="text-align: right;">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " type="number" name="salePrice"
                                                (ngModelChange)="changeValues('saleprice',$event, i)" min="0"
                                                [disabled]="isDisabled" [(ngModel)]="item.salePrice" style="text-align: right;">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " type="number" [(ngModel)]="item.saleTax"
                                            [disabled]="isDisabled" style="text-align: right;" [disabled]="true" name="saleTax" min="0">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " type="number" name="discount"
                                            [disabled]="isDisabled" (ngModelChange)="changeValues('discount',$event, i)" min="0"
                                                [(ngModel)]="item.discount" style="text-align: right;">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="none" [hideRequiredMarker]="true"
                                            class="w-full invoiceTblCell">
                                            <input matInput placeholder=" " type="number" name="amount"
                                            [disabled]="isDisabled" (ngModelChange)="changeValues('amount',$event, i)" min="0"
                                                [(ngModel)]="item.amount" [disabled]="true" style="text-align: right;">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- NOTES -->
                <div class="grid grid-cols-12 gap-x-5 mb-7 pb-0.5">
                    <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
                        <div class="cashier-select-field">
                            <h5 class="text-[15px] text-heading font-semibold">
                                Notes
                            </h5>
                            <div class="cashier-input-field-style">
                                <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
                                    <mat-label class="hidden"></mat-label>
                                    <textarea [(ngModel)]="Invoice.note" [disabled]="isDisabled" matInput name="note" id="note"
                                        maxlength="2000"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
                        <div class="text-right maxSm:text-left">
                            <div class="default-light-theme mb-7 flex" style="margin-left: 300px;">
                                <h5 class="text-[15px] text-heading font-semibold text-xl"> Total </h5>
                                <h5 class="text-[15px] text-heading font-semibold text-xl" style="margin-left: 280px;">
                                    ${{totalSalePrice | number: '1.2-2'}}
                                </h5>
                            </div>
                            <div class="default-light-theme mb-7 space-x-2">
                                <button type="button" target="_blank" (click)="printInvoice()" mat-raised-button color="warn" class="uppercase">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
