.cashier-salereturns-table-dateJ {
    min-width: 332px;
    width: 15%;
}
.cashier-salereturns-table-referenceJ {
    min-width: 412px;
    width: 15%;
}.cashier-salereturns-table-warehouseJ {
    min-width: 390px;
    width: 23%;
}
 