.cashier-salereturns-table-dateJ {
    min-width: 362px;
    width: 15%;
}

.cashier-salereturns-table-referenceJ {
    min-width: 366px;
    width: 15%;
}

.cashier-salereturns-table-warehouseJ {
    min-width: 431px;
    width: 23%;
}
