<div class="grid grid-cols-12 gap-x-12 maxSm:gap-x-0 pt-5">
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Filing Type
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Corporation Tax Type
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Filing Date
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-6 md:col-span-4 sm:col-span-12"></div>
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Filing Type
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Corporation Tax Type
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-2 md:col-span-4 sm:col-span-12">
    <h5 class="text-[15px] text-heading font-semibold">
      Filing Date
    </h5>
    <div class="cashier-input-field-style" style="display: flex">
      <mat-form-field [hideRequiredMarker]="true" class="w-full" [floatLabel]="'always'">
        <mat-label class="hidden"></mat-label>
        <mat-select placeholder="Select Type" name="phone.type">
          <mat-option [value]="0">Personal</mat-option>
          <mat-option [value]="1">Home</mat-option>
          <mat-option [value]="2">Office</mat-option>
          <mat-option [value]="2">Shipping</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="lg:col-span-6 md:col-span-4 sm:col-span-12"></div>
</div>